a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
